#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        gallery:
            imagesDir: %wwwDir%/uploads/
            thumbnail: 
                small: 150x150
                big: 300x200
        security:
            salt: StellaSuperstar

    php:
        date.timezone: Europe/Prague
        session.save_path: "%tempDir%/sessions"

    nette:
        session:
            autoStart: smart
            expiration: 14 days

    extensions:
        # add theese four lines
        console: Kdyby\Console\DI\ConsoleExtension
        events: Kdyby\Events\DI\EventsExtension
        annotations: Kdyby\Annotations\DI\AnnotationsExtension
        doctrine: Kdyby\Doctrine\DI\OrmExtension

    doctrine:
        host: localhost
        user: root
        password: 
        dbname: stella
        metadata:
            App: %appDir%
        options:
            collate: utf8_czech_ci
            charset: utf8

    services:
        - Models\PageRouter
        router: @Models\PageRouter::createRouter

        authenticator: 
            class: Models\Authenticator\Authenticator(@doctrine.dao('Models\Entity\User\User'), %security.salt%)

        # Modeli
        - Models\Category\Category
        - Models\Post\Post
        - Models\Comment\Comment
        - Models\Link\Link
        - Models\Tag\Tag
        - 
            class: Models\Image\Image(%gallery.imagesDir%)
            setup:
                - setResize(%gallery.thumbnail%)
        - Models\Image\ImageCategory
        - Models\Omptions\Page
        - Models\Omptions\Facebook

        # Componenty
        - Components\SlideShow\SlideshowService

        # Admin forms service
        - AdminModule\Forms\LoginForm
        - AdminModule\Forms\PostForm
        - AdminModule\Forms\CategoryForm
        - AdminModule\Forms\MenuForm
        - AdminModule\Forms\LinkForm
        - AdminModule\Forms\TagForm
        - AdminModule\Forms\FileUploadForm
        - AdminModule\Forms\ImageCategoryForm
        - AdminModule\Forms\PageForm
        - AdminModule\Forms\OpenGraphForm
        - AdminModule\Forms\SlideShowForm
        - AdminModule\Forms\CommentForm
 
production < common:


development < common:

        parameters:
                database:
                        dbname: stella
                        user: root
                        password: 

        nette:
            container:
                debugger: TRUE
