#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
        parameters:
                gallery:
                        imagesDir: %wwwDir%/uploads/
                        thumbnail: 
                            small: 150x150
                            big: 300x200
                database:
                        driver: pdo_mysql
                        host: localhost
                        dbname: stella
                        user: root
                        password:
                        charset: utf8
                        collation: utf8_czech_ci
                 security:
                        salt: StellaSuperstar


        php:
                date.timezone: Europe/Prague
                session.save_path: "%tempDir%/sessions"

        nette:
                session:
                        autoStart: smart
                        expiration: 14 days

        doctrine:
                connection: %database%
                console: true

        migrations:
                connection: @doctrine.connection

        services:
                database: @doctrine.entityManager

                authenticator: 
                    class: Models\Authenticator\Authenticator(@database::getRepository('Models\Entity\User\User'), %security.salt%)

                model.category:
                    class: Models\Category\Category
                model.post:
                    class: Models\Post\Post
                model.comment:
                    class: Models\Comment\Comment
                model.link:
                    class: Models\Link\Link
                model.tag:
                    class: Models\Tag\Tag
                model.image:
                    class: Models\Image\Image(@database, %gallery.imagesDir%)
                    setup:
                        - setResize(%gallery.thumbnail%)
                model.imageCategory:
                    class: Models\Image\ImageCategory
                model.options.page:
                    class: Models\Omptions\Page
                model.options.facebook:
                    class: Models\Omptions\Facebook

                components.slideShow:
                    class: Components\SlideShow\SlideshowService

                Form.login:
                    class: AdminModule\Forms\LoginForm
                Form.post:
                    class: AdminModule\Forms\PostForm(@database)
                Form.category:
                    class: AdminModule\Forms\CategoryForm(@database)
                Form.menu:
                    class: AdminModule\Forms\MenuForm(@database)
                Form.link:
                    class: AdminModule\Forms\LinkForm(@database)
                Form.tag:
                    class: AdminModule\Forms\TagForm(@database)
                Form.fileUpload:
                    class: AdminModule\Forms\FileUploadForm(@database, @model.image)
                Form.imageCategory:
                    class: AdminModule\Forms\ImageCategoryForm(@database)
                Form.PageForm:
                    class: AdminModule\Forms\PageForm(@database, @model.options.page)
                Form.OpenGraphForm:
                    class: AdminModule\Forms\OpenGraphForm(@database, @model.options.facebook)
                Form.SlideShowForm:
                    class: AdminModule\Forms\SlideShowForm(@database, @components.slideShow)
                

production < common:


development < common:

        parameters:
                database:
                        dbname: stella
                        user: root
                        password: 

        nette:
            container:
                debugger: TRUE
