<div class="lightbox-content">
    <div class="lightbox-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>   
    <img src="{$basePath}/uploads/{$imageUrl}">
    <div class="lightbox-caption">
        <p>{$imageUrl}</p>
    </div>
</div>

