/* #Site Styles
================================================== */
/*
color pick

#6D7070
#E5C99E
#C28D4C
#BA6043
#70452E


/* #Page Styles
================================================== */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* NavBar
================================================== */

.navbar-inner {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

/* Logi area 
================================================== */
.login-area {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    padding: 0 80px 20px;    
    width: 290px;
}

.login-form {
    padding: 20px;
    width: 247px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;    
}